<div class="container">
  <div class="card border-danger card-shadow mt-5">
    <div class="card-header bg-danger">
        <h5 class="text-white">{{pageTitle}}</h5>
    </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
          <i style="font-size: 120px;" class="fa fa-smile-o text-danger" aria-hidden="true"></i>
             <p>An angular app that uses Dogs API</p>
      </div>

      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Vikram Hegde</h3>
      </div>

      <div class="text-center">@vikramhegde58</div>
      <div class="row d-flex align-items-center justify-content-center">
          <div class="text-center m-1">
              <a href="https://github.com/vikramhegde58"><i class="fa fa-github btn btn-danger" aria-hidden="true"></i></a>
            </div>
            <div class="text-center m-1">
                <a href="https://www.freecodecamp.org/vikramhegde58"><i class="fa fa-free-code-camp btn btn-danger" aria-hidden="true"></i></a>
              </div>
              <div class="text-center m-1">
                  <a href="https://www.linkedin.com/in/vikramhegde58/"><i class="fa fa-linkedin-square btn btn-danger" aria-hidden="true"></i>            </a>
                </div>
      </div>
    </div>
  </div>
</div>
</div>
